# SDR
frequency=1296000000
sample_rate=200000
bandwidth=200000
gain=50
tx_attenuation=10.0
fm_deviation=5000
uri=local:

# Downlink budget
max_iq_mb=20

# Audio
audio_rate=16000
bandpass_low=300
bandpass_high=3400

# LPF
lpf_cutoff=85000
lpf_transition=15000
